/* Css reset - prevents content shifting in diff browsers*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html {
    height: 100%
}

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/login19201.jpg") no-repeat fixed;
    background-size: cover;
    height: 100%;
}

/*LOGIN PAGE*/
.login-container {
    margin: 5% auto;
}

.login-form-1 {
    background-color: rgba(255, 255, 255, 1);
    padding: 5%;
    /*box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.login-form-1 h3 {
    text-align: center;
    color: #333;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #688e9b;
}

.login-form-1 .btnSubmit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    font-weight: 600;
}

.login-form-1 .ForgetPwd {
    /*color: #316a54;*/
    font-weight: 700;
    text-decoration: none;
}
