<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Log in | Social Login App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.4.1/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
</head>
<body>

<div class="container login-container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-5 mx-auto login-form-1 mt-5">
            <div class="col-sm-12 mx-auto" style="margin-bottom: 0px; margin-top: 20px;width:100%; ">

            </div>
            <div class="col-sm-12 mx-auto" style="margin-bottom: 0px; margin-top: 20px;width:100%; ">
                <img style="width: 100%;" src="/img/millyscloud1.png"/>
            </div>
            <div>
                <form class="needs-validation" method="POST" action="#" th:action="@{/login}"
                      th:object="${newUser}" novalidate>

                    <div class="form-group">
                        <input type="text" class="form-control" id="validationCustomEmail"
                               placeholder="E-mail" aria-describedby="inputGroupPrepend" th:field="*{email}" required>
                        <div class="invalid-feedback">
                            Please enter your email.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="validationCustomPassword"
                               placeholder="Password" th:field="*{password}" required>
                        <div class="invalid-feedback">
                            Please enter your password.
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="remember-me" class="custom-control-input"
                                   id="defaultLoginFormRemember1">
                            <label class="custom-control-label" for="defaultLoginFormRemember1">Remember
                                me</label>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 mx-auto alert alert-danger" th:if="${error} != null">
                        <a href="#" class="close" data-dismiss="alert"
                           aria-label="close">×</a>
                        <p style="margin-left: 5px;" th:text="${error}"></p>
                    </div>
                    <div class="form-group text-center mt-5">
                        <button type="submit" class="btnSubmit">Login</button>
                    </div>
                    <div class="form-group text-center">
                        <a href="#" class="ForgetPwd">Forgot Password?</a>
                    </div>
                </form>
            </div>
<!--            <form class="form-group  text-center" th:action="@{/socialLogin/google}">-->
<!--                <button type="submit" value="">Google Sign Up</button>-->
<!--            </form>-->
            <a href="#" data-method="post" th:href="@{/socialLogin/google}" class="text-center" >
                <span>Google</span>
            </a>
            <a href="#" th:href="@{/socialLogin/facebook}" class="text-center">
                <span>Facebook</span>
            </a>
            <a href=# th:href="@{/socialLogin/github}" class="text-center">
                <span>GitHub</span>
            </a>
        </div>
    </div>
</div>


<script th:src="@{webjars/jquery/3.4.1/jquery.min.js}" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{webjars/popper.js/1.16.0/dist/popper.min.js}" src="/webjars/popper.js/1.16.0/dist/popper.min.js"></script>
<script th:src="@{webjars/bootstrap/4.4.1/js/bootstrap.js}" src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
<script th:src="@{js/scripts.js}"></script>

</body>
</html>